In [7]:
#import the various data.  THe data files are csv files, 
#including whale returns, algo trading returns and S&P 500 returns
import pandas as pd
from pathlib import Path
import seaborn as sns
%matplotlib inline

In [9]:
import os
os.getcwd()
Documents/Homework/Bootcamp-HW04-Pandas-Instructions/Resources/whale_returns.csv

'/Users/patrickgibbons/Documents/Homework/Bootcamp-HW04-Pandas-Instructions'

In [12]:
#time to read the data 

#whale_returns_path = Path(../Resources/whale_returns.csv)
whale_returns_path = Path("Resources/whale_returns.csv")
whale_returns_data = pd.read_csv(whale_returns_path)

In [13]:
whale_returns_data.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098